* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    height: 5vh;
    /* border: 2px solid red; */
    text-align: center;
    margin: 5px;
    color: rgb(127, 127, 240);
}

/* form */
#form-wrap {
    border: 2px solid rgb(127, 127, 240);
    border-radius: 5px;
    max-height: 29vh;
    width: 89vw;
    margin: auto;
    background-color: rgb(127, 127, 240);
}

#form-wrap select, #title, #form-wrap label {
    color: white;
}

.top-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: .5em;
}

#form-wrap select {
    width: 60px;
    color: rgb(127, 127, 240);
    border-radius: 2px;
    background-color: white;
    /* margin: 10px 18px; */
}

#form-wrap label {
    font-weight: bolder;
    font-size: 1.2em;
}

#title {
    height: 1.5em;
    padding: 5px;
    color: rgb(127, 127, 240);
    border: none;
    border-radius: 2px;
    background-color: white;
    font-weight: bolder;
}

input::placeholder {
    color: rgb(127, 127, 240);
}

#form-wrap textarea {
    border: 2px solid rgb(127, 127, 240);
    border-radius: 2px;
    width: 80vw;
    margin: auto;
    resize: none;
    padding: 5px;
    font-size: 1.3em;
    color:rgb(127, 127, 240);
}

.bottom-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#add-btn {
    width: 60px;
    height: 18px;
    border: none;
    color: rgb(127, 127, 240);
    background-color: white;
    border-radius: 3px;
}

/* cards - tasks/notes */

#card-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    /* border: 2px solid green;
    background-color: aqua; */
    max-height: 53vh;
    overflow: auto;
}

.card {
    width: 80vw;
    height: 25vh;
    margin: 0 auto;
    border: 2px solid rgb(127, 127, 240);
    border-radius: 2px;
}

.card:nth-child(1) {
    margin-top: 10px;
}

.card-title {
    display: flex;  
    justify-content: space-between;
    width: 100%;
    color: white;
    background-color: rgb(127, 127, 240);
}

#card-title-text, #card-title-date {
    font-size: 1.1em;
    margin: 2px 10px;
}

#card-text-body-wrap {
    /* border: 2px solid green; */
    width: 70vw;
    min-height: 17vh;
    margin: 0 auto;
    padding: 2px;
    font-size: 1.1em;
    overflow: scroll;
    color:rgb(127, 127, 240);
}

.card-inputs {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    background-color: rgb(127, 127, 240);
}

.card-button {
    height: 25px;
    background-color: white;
    color: rgb(127, 127, 240);
    border-radius: 2px;
    border: none;
    padding: 3px;
}

.hide-complete {
    visibility: hidden;
}

#delete {
    background-color: rgb(231, 118, 118);
    color: white;
    margin-right: 5px;
}

#foot {
    height: 10vh;
    /* border: 2px solid red; */
    background-color: rgb(127, 127, 240);
    position: fixed;
    bottom: 0;
    width: 100%;
}

